.dice{
	box-sizing: border-box;
	width: 80px;
	height: 80px;
	border: solid 1px black;
	border-radius: 5px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 5px;
}

.col{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.right{
	justify-content: flex-start;
}

.left{
	justify-content: flex-end;
}

.dot{
	width: 10px;
	height: 10px;
	border: solid 1px black;
	background-color: black;
	border-radius: 100%;
	align-self: flex-end;
}